{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{setting.title}} | {{info.first_name}} {{info.last_name}}</title>
  <meta name="keywords" content="{{setting.meta_keywords}}">
  <meta name="description" content="{{setting.description}}">

  <link rel="stylesheet" href="{% static 'assets/fonts/flat-icon/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block style %}
  {% endblock %}
</head>

<body onunload="">
<div id="content-wrapper">
  <header class="header header--bg">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          {% if setting.logo %}
          <img src="{{setting.logo.url}}" alt="LOGO" style="color: #fff;" width="120">
          {% else %}
          <a class="navbar-brand" href="#" style="text-transform: uppercase; font-size: 25px; color: #fff;">{{info.first_name}}</a>
          {% endif %}
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/">HOME</a></li>
            <li><a href="#about">ABOUT</a></li>  
            <li><a href="#portfolio">PORTFOLIO</a></li>
            {% if contents %}
            <li><a href="#contents">CONTENTS</a></li>
            {% endif %} 
            <li><a href="#contact">CONTACT ME</a></li> 
          </ul>
        </div>
      </nav>
      <div class="header__content text-center">
        <span class="header__content__block">HELLO</span>
        <h1 class="header__content__title">I'M <span style="text-transform: uppercase;">{{info.first_name}} {{info.last_name}}</span></h1>
        <ul class="header__content__sub-title">
          {% for skill in skills %}
          <li>{{skill.skill}} <span class="padding">&#45;</span></li>
          {% endfor %}
        </ul>
        {% if messages %}
        {% for message in messages %}
        <br><h2 class="message">{{message}}</h2>
        {% endfor %}
        {% else %}
        <a class="header__button" href="#contact">HAVE PROJECT? LET'S TALK</a>
        {% endif %}
      </div>
      <div class="social-icon pull-right">
        <ul style="color: #fff;">
          {% if info.whatsapp %}
          <li><a href="{{info.whatsapp}}" target="_blank"><i class="fab fa-whatsapp fa-2x"></i></a></li>
          {% endif %}
          {% if info.facebook %}
          <li><a href="{{info.facebook}}" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
          {% endif %}
          {% if info.twitter %}
          <li><a href="{{info.twitter}}" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></li>
          {% endif %}
          {% if info.instagram %}
          <li><a href="{{info.instagram}}" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
          {% endif %}
          {% if info.linked_in %}
          <li><a href="{{info.linked_in}}" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
          {% endif %}
          {% if info.youtube %}
          <li><a href="{{info.youtube}}" target="_blank"><i class="fab fa-youtube fa-2x"></i></a></li>
          {% endif %}
          {% if info.pin_interest %}
          <li><a href="{{info.pin_interest}}" target="_blank"><i class="fab fa-pinterest fa-2x"></i></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </header>

  {% block content %}
  {% endblock %}



  <footer class="footer footer--bg">
    <div class="container text-center">
      <h1 class="footer__title">{{info.first_name}} {{info.last_name}}</h1>
      <ul class="footer__contact-information">
        <li><a href="tel:{{info.phone_1}}"><i class="material-icons">phone</i> Hotline {{info.phone_1}}</a></li>
        <li><a href="mailto:{{info.email_1}}"><i class="material-icons">email</i> {{info.email_1}}</a></li>
        <li><a><i class="material-icons">location_on</i> {{info.address}}</a></li>
      </ul>
    </div>
    <hr style="border: 0;border-top: 1px solid #525B60;display:block;margin-top: 40px;">
    <div class="container text-center">
      <div class="social-icon">
        <ul>
          {% if info.whatsapp %}
          <li><a href="{{info.whatsapp}}" target="_blank"><i class="fab fa-whatsapp fa-2x"></i></a></li>
          {% endif %}
          {% if info.facebook %}
          <li><a href="{{info.facebook}}" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
          {% endif %}
          {% if info.twitter %}
          <li><a href="{{info.twitter}}" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></li>
          {% endif %}
          {% if info.instagram %}
          <li><a href="{{info.instagram}}" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
          {% endif %}
          {% if info.linked_in %}
          <li><a href="{{info.linked_in}}" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
          {% endif %}
          {% if info.tiktok %}
          <li><a href="{{info.tiktok}}" target="_blank"><i class="fab fa-tiktok fa-2x"></i></a></li>
          {% endif %}
          {% if info.youtube %}
          <li><a href="{{info.youtube}}" target="_blank"><i class="fab fa-youtube fa-2x"></i></a></li>
          {% endif %}
          {% if info.pin_interest %}
          <li><a href="{{info.pin_interest}}" target="_blank"><i class="fab fa-pinterest fa-2x"></i></a></li>
          {% endif %}
        </ul>
      </div>
      <p class="footer__paragraph">Copyright &copy; 2017 DartThemes , All Rights Reserved.</p>
    </div>
  </footer>
</div>
  <script src="{% static 'assets/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/mixitup.js' %}"></script>
  <script src="{% static 'js/all.min.js' %}"></script>
  {% if setting.google_analytics %}
  {{setting.google_analytics|safe}}
  {% endif %}

  <script>
    if (window.history.replaceState){
      window.history.replaceState(null, null, window.location.href);
    }
    // calling mixitup
    var mixer = mixitup(".portfolio");
  </script>
</body>
</html>  